
/*Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 1px;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style HTML */

body {
	font: 16px/28px arial, sans-serif;
	background-image: url(../img/bg.png);
	color: #333;
	scroll-behavior: smooth;
}

.popup {
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
	text-align: center;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.popup-login {
	height: 250px;
	width: 500px;
	background: #fff;
	padding: 20px;
	border-radius: 5px;
	position: relative;
	-webkit-animation: animatezoom 0.6s;
  	animation: animatezoom 0.6s;
}

.popup-login h2 {
	padding-top: 20px;
	color: #242424;
	font-family: open-sans;
	font-size: 25px;
	font-weight: bold;
}

.ilogin {
	display: block;
	width: 60%;
	border: 2px solid #aaa;
	border-radius: 4px;
	margin: 20px auto;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: .3s;
}

.ilogin:focus {
	border-color: dodgerblue;
	box-shadow: 0 0 8px 0 dodgerblue;
}

.close {
	position: absolute;
	top: 5px;
	right: 7px;
	height: 20px;
	width: 20px;
	cursor: pointer;
}

.container {
	width: 1000px;
	margin: auto;
	background-color: #fff;
	box-shadow: 0px 0px 5px 3px #bfbfbf;
	margin-top: 20px;
}

.header {
	text-align: center;
	padding: 20px;
	padding-bottom: 10px;
}

.header .judul {
	color: #242424;
	font-family: open-sans;
	font-size: 35px;
	font-weight: bold;
	padding-left: 3px;
	cursor: pointer;
	letter-spacing: 3px;
}

.header .garis {
	color: gray;
	size: 0.5px;
	width: 547px;
	margin-bottom: -0.5px;
}

.header p {
	color: salmon;
	font-size: 17px;
	padding-left: 3px;
	font-weight: bold;
}

.menu {
	padding: 8px;
	padding-left: 20px;
	background-color: #333;
}

.menu ul li {
	display: inline-block;
	margin-right: 5px;
}

.menu ul li.active a {
	color: white;
	border-radius: 4px;
	background-color: salmon;
	font-weight: bold;
}

.menu a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	padding: 5px;
}

.menu a:hover {
	background-color: salmon;
	border-radius: 4px;
	color: white;
}

.menu .search {
	border-radius: 20px;
	padding-right: 10px;
	text-align: right;
	margin-top: -30px;
}

.menu .search-box {
	padding: 2px 2px 2px 5px;
	border-radius: 5px;
	border: 2px solid salmon;
	box-sizing: border-box;
	outline: none;
}

.menu .search-box:focus {
	border-color: dodgerblue;
	box-shadow: 0 0 8px 0 dodgerblue;
}

.hero {
	height: 250px;
	background-image: url(../img/hero.jpg);
	background-position: 0 -275px;
	border-top: 5px solid salmon;
	border-bottom: 5px solid lightskyblue;
}

.konten {
	padding: 20px;
}

.konten h2 {
	font-size: 25px;
	font-weight: bold;
}

.tombol {
	background-color: salmon;
	border: 1px solid salmon;
	padding: 10px 30px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	transition: 0.6s ease;
	border-radius: 5px;
	margin-top: 5px;
	cursor: pointer;
}

.tombol:hover {
	background-color: lightskyblue;
	border: 1px solid lightskyblue;
	color: white;
}

.tombol2 {
	background-color: lightgreen;
	border: 1px solid lightgreen;
	padding: 10px 30px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	transition: 0.6s ease;
	border-radius: 5px;
	margin-top: 5px;
	cursor: pointer;
}

.tombol2:hover {
	background-color: lightskyblue;
	border: 1px solid lightskyblue;
	color: #000
}

.footer {
	margin-top: 70px;
	background-color: #333;
	padding: 5px;
}

.footer .cr {
	color: #eaeaea;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

.konten .kontak {
	padding-bottom: 20px;
}

.konten form {
	margin-left: 10px;
	font-size: 17px;
	font-family: open-sans;
	font-weight: bold;
}

.konten table {
	letter-spacing: 1px;
	margin-left: 20px;
	font-size: 17px;
	font-family: sans-serif;
	font-weight: bold;
}

.konten li {
	font-weight: normal;
}

.input-box {
	width: 400px;
	border: 2px solid #aaa;
	border-radius: 4px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
}

.input-box2 {
	width: 700px;
	border: 2px solid #aaa;
	border-radius: 4px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: .3s;
}

.input-box2:focus {
	border-color: dodgerblue;
	box-shadow: 0 0 8px 0 dodgerblue;
}

.popup2 {
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.popup-bayar {
	height: 100px;
	width: 500px;
	background: #fff;
	padding: 20px;
	border-radius: 5px;
	position: relative;
	-webkit-animation: animatezoom 0.6s;
  	animation: animatezoom 0.6s;
}

.popup-bayar h2 {
	padding-top: 10px;
	padding-bottom: 20px;
	color: #242424;
	font-family: open-sans;
	font-size: 30px;
	font-weight: bold;
}
